In [19]:
n=complex(4,8)
n.real

4.0

In [20]:
bin(4)

'0b100'

In [5]:
bool(5.3)

True

In [6]:
bool("sa")

True

In [7]:
bool()

False

In [8]:
bool("")

False

In [10]:
x=5
y=2
x+y

7

In [11]:
x-y

3

In [12]:
x*y

10

In [13]:
x/y

2.5

In [14]:
x//y

2

In [15]:
x%y

1

In [16]:
x**y

25

In [17]:
x==y

False

In [21]:
x>y

True

In [22]:
x<y

False

In [23]:
x<=5

True

In [24]:
abs(-4)

4

In [25]:
divmod(x,y)

(2, 1)

In [26]:
x**y

25

In [27]:
pow(x,y)

25

In [42]:
import math as m
from numpy import *

In [29]:
m.factorial(x)

120

In [30]:
m.exp(x)

148.4131591025766

In [31]:
m.log(1)

0.0

In [32]:
m.log(2,25)

0.21533827903669653

In [33]:
m.log10(10)

1.0

In [34]:
m.sqrt(25)

5.0

In [35]:
m.degrees(x)

286.4788975654116

In [36]:
m.radians(x)

0.08726646259971647

In [46]:
m.sin(rad2deg(30))

-0.4097717985741408

In [51]:
m.copysign(2,-5)

-2.0

In [53]:
m.ceil(2.35941)

3

In [54]:
m.floor(2.35941)

2

In [55]:
m.erf(x)

0.9999999999984626

In [56]:
a="m7md"
a

'm7md'

In [57]:
s='sa'
s

'sa'

In [58]:
a = "sweet home alabama"
a[0]

's'

In [60]:
a[-1]

'a'

In [61]:
a+a

'sweet home alabamasweet home alabama'

In [62]:
a*3

'sweet home alabamasweet home alabamasweet home alabama'

In [63]:
a+a+a

'sweet home alabamasweet home alabamasweet home alabama'

In [64]:
a[2:8]

'eet ho'

In [65]:
a[:5]

'sweet'

In [66]:
a[2:]

'eet home alabama'

In [67]:
a[:]

'sweet home alabama'

In [68]:
a[:6:2]

'set'

In [69]:
a[2::2]

'ethm lbm'

In [70]:
a[-1:4:-1]

'amabala emoh '

In [71]:
a[::-1]

'amabala emoh teews'

In [72]:
list(a)

['s',
 'w',
 'e',
 'e',
 't',
 ' ',
 'h',
 'o',
 'm',
 'e',
 ' ',
 'a',
 'l',
 'a',
 'b',
 'a',
 'm',
 'a']

In [73]:
sorted(list(a))

[' ',
 ' ',
 'a',
 'a',
 'a',
 'a',
 'b',
 'e',
 'e',
 'e',
 'h',
 'l',
 'm',
 'm',
 'o',
 's',
 't',
 'w']

In [74]:
set(a)

{' ', 'a', 'b', 'e', 'h', 'l', 'm', 'o', 's', 't', 'w'}

In [75]:
a.split()

['sweet', 'home', 'alabama']

In [76]:
x = "12354785669854412503665"
x.split("5")

['123', '478', '6698', '4412', '0366', '']

In [83]:
x="2222222gggg \n ggggpppppppp\nlllllll"
x.splitlines()

['2222222gggg ', ' ggggpppppppp', 'lllllll']

In [108]:
a="ssaraandm7md 5289 and11200 0 m7md"
a.partition('and')

('ssara', 'and', 'm7md 5289 and11200 0 m7md')

In [86]:
a.rpartition('and')

('ssaraandm7md5289', 'and', '112000')

In [89]:
a.find('m7md')

8

In [90]:
a.rfind('m7md')

25

In [91]:
a.index('112000')

19

In [92]:
a.find('mama')

-1

In [93]:
a.index('mama')

ValueError: substring not found

In [94]:
a

'ssaraandm7md5289and112000m7md'

In [99]:
a.replace('s','m')

'mmaraandm7md5289and112000m7md'

In [101]:
a

'mmaraandm7md5289and112000m7md'

In [102]:
a.replace("m7md","ahmed")

'mmaraandahmed5289and112000ahmed'

In [104]:
a.count('m')

6

In [105]:
a.capitalize()

'Mmaraandm7md5289and112000m7md'

In [109]:
a.title()

'Ssaraandm7Md 5289 And11200 0 M7Md'

In [110]:
a.upper()

'SSARAANDM7MD 5289 AND11200 0 M7MD'

In [111]:
a.swapcase()

'SSARAANDM7MD 5289 AND11200 0 M7MD'

In [112]:
a.center(30)

'ssaraandm7md 5289 and11200 0 m7md'

In [11]:
s='saraatia'
s

'saraatia'

In [121]:
s.center(7)

'sara atia'

In [5]:
s.ljust(30)

'sara atia                     '

In [6]:
s.rjust(30)

'                     sara atia'

In [7]:
s.rjust(20,"*")

'***********sara atia'

In [8]:
'435'.zfill(10)

'0000000435'

In [9]:
s.zfill(10)

'0sara atia'

In [12]:
s.isalpha()

True

In [19]:
a="***  fci     ***  086*53  "

In [14]:
a.strip()

'fci       086*53'

In [15]:
a.rstrip()

'   fci       086*53'

In [16]:
a.lstrip()

'fci       086*53  '

In [20]:
a.strip('*')

'  fci     ***  086*53  '

In [22]:
a , b = 'aaaa' , 'bbbbb'
print(a,end='')
print(b)

aaaabbbbb

In [26]:
aaa = "alabam"
a = "sweet home %s" %aaa
a

'sweet home alabam'

In [27]:
bbb = 136
a = "sweet home %d" %bbb
a

'sweet home 136'

In [29]:
a = "sweet %s %d" % ( aaa , bbb)
a

'sweet alabam 136'

In [30]:
a = "numbers %5d" %7
a

'numbers     7'

In [32]:
a = "numbers %05d" %7
a

'numbers 00007'

In [33]:
a="%s has %03d qoute types." %("Python", 2)
a

'Python has 002 qoute types.'

In [36]:
a='i\'m  sara'
a

"i'm  sara"

In [37]:
a.isdigit()

False

In [38]:
a="123456799"

In [39]:
a.isdigit()

True

In [51]:
a="Asragtylmn alabama"
a.isupper()

False

In [47]:
a.islower()

False

In [48]:
a.istitle()

True

In [52]:
a.endswith('alabama')

True

In [53]:
a.startswith('sweet')

False

In [55]:
a = ', '.join( ('one', 'two', 'three') )
a

'one, two, three'

In [62]:

a=' and sara , '.join(('m7md','fci','1255'))
a

'm7md and sara , fci and sara , 1255'

In [63]:
'  '.join('hello')

'h  e  l  l  o'

In [67]:
import numpy as np
' '.join([str(i) for i in np.random.randint(10, size=100)])

'7 9 4 7 4 6 2 9 1 8 9 4 0 2 4 8 7 9 5 5 5 8 6 2 3 9 3 9 4 3 5 1 1 4 2 6 5 9 8 0 3 6 9 8 1 7 8 7 3 2 5 3 6 6 0 4 0 5 4 4 6 7 6 6 6 4 5 0 7 4 3 7 2 5 0 7 6 0 5 5 8 0 6 0 2 6 9 6 5 5 6 4 8 2 3 5 4 3 0 8'

In [68]:
"The value of pi is {}".format(np.pi)

'The value of pi is 3.141592653589793'

In [69]:
'{0} and {1}'.format('red', 'blue')

'red and blue'

In [74]:
'{1} and {0}'.format('red', 'blue')

'blue and red'

In [77]:
"First: {first}. Last: {last}.".format(last='Z', first='A')

'First: A. Last: Z.'

In [78]:
"pi = {0:.3f}".format(np.pi)

'pi = 3.142'

In [81]:
'{:s} {:d} {:s} years old'.format('Im',20,'sss')

'Im 20 sss years old'

In [85]:
'|' + '{:^10}'.format('Hello') + '|'

'|  Hello   |'

In [86]:
'{0:10} ==> {1:10d}'.format('name', 56322)

'name       ==>      56322'

In [87]:
import re
email = re.compile('\w+@\w+\.[a-z]{1}')
text = "To email Guido, try guido@python.org or guido@google.com "
print(email.findall(text))

['guido@python.o', 'guido@google.c']

In [1]:
read=open('1.txt','r')
read

In [2]:
read=open('1.txt','r+')
read

In [3]:
w=open('1.txt','w')
w

In [6]:
file=open('1.txt','rb')
file.read(20)

b'sara'

In [19]:
file=open('1.txt','w')
w=file.write('write this line in the fil')
file.close()
w

26

In [23]:
file=open('1.txt','a+')
file

In [26]:
file=open('books.csv','w')
w=file.write('a')
file.close()
w

1

In [27]:
import os
a=os.getcwd()
print(a)

C:\Users\2bo3isha

In [28]:
os.makedirs('D:\\1\\00' , exist_ok = True)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'D:\\'

In [29]:
os.mkdir('_folder1')

In [1]:
bool(5)

True

In [2]:
divmod(5,2)

(2, 1)

In [3]:
5//2

2

In [4]:
5%2

1

In [8]:
import math as m
m.ceil(1)

1

In [9]:
x = "**abc**"
print(x.strip('*'))

abc

In [10]:
a="""sara
fhjj
5565
"""
a

'sara\nfhjj\n5565\n'

In [17]:
file=open('1.txt','wb')
print(file.name)
print(file.closed)
print(file.mode)

1.txt
False
wb

In [7]:
file=open('1.txt','rb')
words=file.read(10)
print(words)

b''

In [8]:
file=open('1.txt','r+')
print(file.tell())
words=file.read(10)
print(words)
position=file.tell()
print(position)

0

0

In [9]:
#list

In [22]:
x = list("love apple")
x

['l', 'o', 'v', 'e', ' ', 'a', 'p', 'p', 'l', 'e']

In [23]:
x = [[0]*8] *10
x

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [24]:
sorted(x)

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [26]:
x.sort()
x

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [27]:
y = [ x**3 for x in range(12)]
y = list(map(lambda x : x**3 , range(12)))
y

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [28]:
ss = [-5 + i*0.5 for i in range(20)]
ss

[-5.0,
 -4.5,
 -4.0,
 -3.5,
 -3.0,
 -2.5,
 -2.0,
 -1.5,
 -1.0,
 -0.5,
 0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5]

In [31]:
L = [[0 for i in range(5)] for j in range(7)]
L

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [32]:
I = iter(range(20))
I

In [33]:
I = iter([2, 4, 6, 8, 10])
print(next(I))
print(next(I))

2
4

In [1]:
x=iter([1,2,2,3,8,9,5,7,6,10])
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

1
2
2
3
8

In [2]:
x=iter(range(10))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))#هيجبلي ارقام عشوائيه ف كل رن من صفر ل تسعه وبعدين يبدا يفعل الداله ف كل رن

0
1
2
3
4
5
6
7
8

In [4]:
x=[1,2,3]
y=x
print(y)
x=x*2
print(x)
print(y)#هلاحظ ان اما اغير قيمة ليست الاولي التانيه مش هتتغير

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3]

In [5]:
x=iter(range(20,100,5))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

20
25
30
35
40
45
50
55
60

In [8]:
x=[1,2,3]
y=x.copy()
print(y)
x=x*3
print(y)
x

[1, 2, 3]
[1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
x=y
x=x*2
y

[1, 2, 3]

In [10]:
my_list = ['apple', 'banana', 'grapes', 'pear']
for c, value in enumerate(my_list, 1):
    print(c, value)

1 apple
2 banana
3 grapes
4 pear

In [12]:
for c, value in enumerate(my_list,2):#بداية العداد بتكون بداية الترقيم عندي
        print(c, value)
#برقم العناصر بتاعت ال ليست

2 apple
3 banana
4 grapes
5 pear

In [15]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print ("alist= " + a +" "+ "blist= " + b)
#بربط بين ليستين عندي بس كل عنصر مقابل نظيره ف الاندكث ليست التانيه

alist= a1 blist= b1
alist= a2 blist= b2
alist= a3 blist= b3

In [18]:
from operator import itemgetter
student_tuples = [('john', 'A', 15),('jane', 'B', 12),('dave', 'B', 10)]
print(sorted(student_tuples, key=itemgetter(2)))
print(sorted(student_tuples, key=itemgetter(1,2)))
#بعمل ترتيب بناءا علي رقم معين
#بستخدمها ف الترتيب

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]
[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [21]:
from operator import methodcaller
messages = ['critical!!!', 'hurry!', 'bla bla', 'alabama']
x= sorted(messages, key=methodcaller( 'count', 'a') )
print(x)

['hurry!', 'critical!!!', 'bla bla', 'alabama']

In [22]:
messages = ['saaaa', 'm7md', 'sa sa', 'mama and baba']
x= sorted(messages, key=methodcaller( 'count', 'a') )
print(x)
#بترتبلي ع حسب الحرف ال محدده

['m7md', 'sa sa', 'saaaa', 'mama and baba']

In [1]:
x=[1,2,3]
y=x
x[0]=5
x[1]=6
x[2]=7
y

[5, 6, 7]

In [2]:
x=[1,2,3]
y=x.copy()
x[0]=5
x[1]=6
x[2]=7
y

[1, 2, 3]

In [5]:
x=[1,2,3]
y=x
x=x*2
print(y)
print(x)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [6]:
#tuple

In [2]:
tu=(1,2,3)
tu

(1, 2, 3)

In [4]:
student_tuples = [('john', 'A', 15),('jane', 'B', 12),('dave', 'B', 10)]#اعاده ترتيب
a = sorted(student_tuples, key=lambda student: student[2])
a#هلاقي بايثون اتجاهلت كل حاجة ورتبت ع حسب العمر

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [7]:
#set

In [8]:
S={1,2,5,6,8,7}
S

{1, 2, 5, 6, 7, 8}

In [9]:
S={1,1,2,2}
S#حذف المتكرر

{1, 2}

In [10]:
S={'A','A','D','B','L'}
S#حذف المتكرر وعمل اعادة ترتيب

{'A', 'B', 'D', 'L'}

In [15]:
s={i for i in range(20,30,2)}
s

{20, 22, 24, 26, 28}

In [16]:
s={i**2 for i in range(20,30,2)}
s

{400, 484, 576, 676, 784}

In [17]:
# ممكن احول كل من الي

In [18]:
#list to tuple
#tuple to list
#list to set
#set to list
#list to dictionary
#dictionary to list

In [19]:
a={1,2,3,4,5,6,7}
b={5,6,7,8,9,10,11,12}
a or b

{1, 2, 3, 4, 5, 6, 7}

In [20]:
a and b

{5, 6, 7, 8, 9, 10, 11, 12}

In [21]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [22]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [23]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [24]:
a & b

{5, 6, 7}

In [25]:
a^b

{1, 2, 3, 4, 8, 9, 10, 11, 12}

In [26]:
a-b

{1, 2, 3, 4}

In [1]:
#dictinary

In [2]:
#طريقه كتابه القاموس عندي 
dic={'sara':'atia','m7md':'yasser'}
dic

{'sara': 'atia', 'm7md': 'yasser'}

In [3]:
dic={'sara':50,'m7md':55}
dic

{'sara': 50, 'm7md': 55}

In [4]:
dic={1:50,2:60}
dic

{1: 50, 2: 60}

In [6]:
n={n:n**2 for n in range(10)}
n
#هستخدم الفور لوب لعمل قاموس عباره ان المفتاح برقم والقيمه بتربيع الرقم

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [55]:
#هعدل ف قيم عندي
d= {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
d['egypt']='5550'
d

{'egypt': '5550', 'america': '001', 'ksa': '00966'}

In [40]:
d['ksa']=22
d

{'egypt': '5550', 'america': '001', 'ksa': 22}

In [41]:
#search about key
'egypt' in d

True

In [42]:
'sa' in d

False

In [43]:
#search about value
22 in d.values()

True

In [44]:
#find value
d.get('egypt')

'5550'

In [45]:
d.get('ksa',125)#بقوله لو ملقتش قيمه الكي المطلوب اعرض القيمه الثانيه

22

In [46]:
d.get('sara',582)
#ملاقاش الكي المطلوب فعرض القيمة الثانيه

582

In [51]:
d['sara atia ']=21
d#بضيف قيم جديده

{'america': '001', 'ksa': 22, 'sara atia ': 21}

In [56]:
#delet value
del(d['egypt'])

In [36]:
len(d)

2

In [57]:
d

{'america': '001', 'ksa': '00966'}

In [58]:
d.clear()#لو عايز امسح كل قيم

In [59]:
d

{}

In [63]:
dic={'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
del(dic)
#بمسح القاموس نفسه

In [69]:
d={'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
#d['egypt']='2000'
dd=d.copy()
d['egypt']='2000'

print(d)
print(dd)

{'egypt': '2000', 'america': '001', 'ksa': '00966'}
{'egypt': '0020', 'america': '001', 'ksa': '00966'}

In [85]:
#list to dictinary
l=['a','b','c','d','e']
dic=dict.fromkeys(l)
dic

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None}

In [86]:
dic['a']=1
dic

{'a': 1, 'b': None, 'c': None, 'd': None, 'e': None}

In [113]:
#dic to list (key)

In [119]:

dic1={'a':5,'b':8,'c':10,'d':1,'e':30}
a=list(dic1.keys())
a

['a', 'b', 'c', 'd', 'e']

In [116]:
#dic to list (value)
list1=list( dic1.values())
list1

[5, 8, 10, 1, 30]

In [117]:
#dic to list (key & value)
b=list(dic1.items())
b

[('a', 5), ('b', 8), ('c', 10), ('d', 1), ('e', 30)]

In [120]:
#more value
dic2={'sara':(21,'software engneer','from mit ghamr'),'m7md':(20,'software engneer','from zazig'),'names':('a','b','c')}
dic2

{'sara': (21, 'software engneer', 'from mit ghamr'),
 'm7md': (20, 'software engneer', 'from zazig'),
 'names': ('a', 'b', 'c')}

In [121]:
dic2['sara']

(21, 'software engneer', 'from mit ghamr')

In [122]:
dic2['m7md']

(20, 'software engneer', 'from zazig')

In [123]:
dic2['names']

('a', 'b', 'c')

In [124]:
dic2['sara'][2]#لو عايزا قيمه محدده

'from mit ghamr'

In [125]:
del(dic2['names'])#لما امسح مفتاح معين كل القيم بتاعته هتتمسح
dic2

{'sara': (21, 'software engneer', 'from mit ghamr'),
 'm7md': (20, 'software engneer', 'from zazig')}

In [126]:
#

In [129]:
#if

In [130]:
x=5
if x == 5:
    print("hello")

hello

In [131]:
x=6
if x==5:
    print('yes')
else:
    print('no')

no

In [132]:
x=5
if x != 5:
    print('yes')
elif x < 9:
    print('done')
else:
    print('no')

done

In [5]:
x=5
y=9
if x==5 and y!=6:#&
    print('done')

done

In [6]:
if x==5 or y==3:#|
    print("ok")

ok

In [3]:
x

5

In [7]:
a,b = 11,10
max = a if (a>b) else b
print (max)#اقدر اكتب الاتنين مع بعض ف نفس السطر

11

In [8]:
#for

In [9]:
for i in range(6):#0 to 6-1
    print(i)

0
1
2
3
4
5

In [10]:
for i in range(2,10):#start,end
    print(i)

2
3
4
5
6
7
8
9

In [11]:
for i in range(20,40,2):#start,end,step
    print(i)

20
22
24
26
28
30
32
34
36
38

In [13]:
l=[(x,y) for x in range(4) for y in range(4)]
l

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [15]:
l1={x:y for x in range(2,10,2) for y in range(3,11,2)}
l1

{2: 9, 4: 9, 6: 9, 8: 9}

In [16]:
l2=[(x,y**2) for x in range(4) for y in range(4) if x==y]
l2

[(0, 0), (1, 1), (2, 4), (3, 9)]

In [17]:
l3='sara atia abu youssef , software engeener ,21 years'
for i in range(len(l3)):
    print(l3[i])

s
a
r
a

a
t
i
a

a
b
u

y
o
u
s
s
e
f

,

s
o
f
t
w
a
r
e

e
n
g
e
e
n
e
r

,
2
1

y
e
a
r
s

In [19]:
l4=''
l3='sara atia abu youssef , software engeener ,21 years'
for i in range(len(l3)):
    l4=l4+l3[len(l3)-i-1]#بيعكسلي الجمله بتاعتي
print(l4)

sraey 12, reneegne erawtfos , fessuoy uba aita aras

In [26]:
#Continue
t = 'supercalifragilisticexpialidocious'
for v in t :
    if v == 'x' :
        continue
    print (v)

s
u
p
e
r
c
a
l
i
f
r
a
g
i
l
i
s
t
i
c
e
p
i
a
l
i
d
o
c
i
o
u
s

In [27]:
#print odd number from 10 to 50
for i in range(10,50):
    if i%2==0 :
        continue
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [28]:
t = "divide"
for v in t :
    if v == "i" :
        continue
    print(v)

d
v
d
e

In [29]:
for v in range(20) :
    if v % 5 ==0 or v % 3 == 0 :
        continue
    print(v)

1
2
4
7
8
11
13
14
16
17
19

In [31]:
for x in range(20) :
    if x%2 ==0 :
        print("divided over is " + str(x))
        continue
    print("not divided over is " + str(x))

divided over is 0
not divided over is 1
divided over is 2
not divided over is 3
divided over is 4
not divided over is 5
divided over is 6
not divided over is 7
divided over is 8
not divided over is 9
divided over is 10
not divided over is 11
divided over is 12
not divided over is 13
divided over is 14
not divided over is 15
divided over is 16
not divided over is 17
divided over is 18
not divided over is 19

In [32]:
YY = "how are you doing"
for g in YY :
    print (g)

h
o
w

a
r
e

y
o
u

d
o
i
n
g

In [33]:
students = ["ahmed","ramy","heba"]#for + list
for a in students :
    print(a)

ahmed
ramy
heba

In [34]:
#for+ dict
#print key only
grades = {"ahmed":35 ,"mona":40 ,"mena":37 }
for key in grades.keys():
    print(key)

ahmed
mona
mena

In [35]:
#print value only
for value in grades.values():
    print(value)

35
40
37

In [36]:
#key and value 
for key,value in grades.items():#كدا كل حاجه ف سطر لوحده
    print(key)
    print(value)

ahmed
35
mona
40
mena
37

In [40]:
for i in grades:#key only
    print(i)

ahmed
mona
mena

In [41]:
for all_dic in grades.items():#all dict
    print(all_dic)

('ahmed', 35)
('mona', 40)
('mena', 37)

In [50]:
#enumerate
name=['sara','salsabile','sally','radwa','rana','shery','halm','zoza']
for count,n in enumerate(name):#بتعملي ترقيم
    print(str(count) +' '+  n)

0 sara
1 salsabile
2 sally
3 radwa
4 rana
5 shery
6 halm
7 zoza

In [53]:
students = ["ahmed","ramy","ramy","mena"]
grades = [25,33,66,95]
for i,a in zip(students,grades) :#بتربطلي بين ليستين
    print("student" +' '+ i + " got " + str(a) +' '+ "degree" )

student ahmed got 25 degree
student ramy got 33 degree
student ramy got 66 degree
student mena got 95 degree

In [54]:
a=[i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [56]:
aa=[i**2 for i in range(2,100,5) if i%2==0]
aa

[4, 144, 484, 1024, 1764, 2704, 3844, 5184, 6724, 8464]

In [58]:
a = [i**2 for i in range(20) if i%3 ==0 and i %2 ==0 ]
print(a)#تربيع مضاعفات 6

[0, 36, 144, 324]

In [59]:
k=[(i,j) for i in range(4) for j in range(3)]
k

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2)]

In [60]:
z=[(i,i**2) for i in range(5)]
z

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [61]:
#for   ... : ------- else:------- #الاتنين بيتنفذو
for x in range(10) :
    print(x)
else :
    print("Done")#هتتنفذ بعد ما لوب ينتهي

0
1
2
3
4
5
6
7
8
9
Done

In [65]:
print(sum([k for k in range(20)]))
print(sum([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]))

190
190

In [64]:
s=[k for k in range(20)]
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [68]:
print(sum([1/k for k in range(1,11)]))
print(sum([1.0,0.5,0.3333333333333333,0.25,0.2,0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111,0.1]))

2.9289682539682538
2.9289682539682538

In [67]:
[1/k for k in range(1,11)]

[1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1]

In [70]:
a = [3*x for x in [y**2 for y in range(10)]]
a

[0, 3, 12, 27, 48, 75, 108, 147, 192, 243]

In [71]:
[y**2 for y in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
#while

In [74]:
n = int(input("input number : "))
while n <= 10 :
    print(n)
    n = n +1
print("Done")

input number : 5
5
6
7
8
9
10
Done

In [1]:
n = int(input("input number : "))
while n <= 10 :
    print(n)
    n = n +1
print("Done")

input number : 5
5
6
7
8
9
10
Done

In [ ]:
while True:
    i=int(input('enter number : '))
    if i%2==0:
        print('even number')
        
        
    else:
        print('odd number')

enter number : 5
odd number
enter number : 91
odd number
enter number : 20
even number
enter number : 78
even number
enter number : 78
even number
enter number : 55
odd number
enter number : 5
odd number
enter number : 6
even number

In [1]:
while True :
    a = int(input("Number ?"))
    if a > 15 :
        print("yes")
        break
    else :
        print("No")
print("end")

Number ?20
yes
end

In [1]:
n = int(input("input number ?"))
while n<=100:
    print(n)
    break
print("Done")

input number ?50
50
Done

In [2]:
n = int(input("input number ?"))
while n<=100:
    print(n)
    n = int(input("input number ?"))
print("Done")

input number ?50
50
input number ?100
100
input number ?200
Done

In [3]:
a = 8
while a :
    print(a)
    a = a-1#0 -> false

8
7
6
5
4
3
2
1

In [4]:
a = 0
while a<10 :#is conditin true
    a+=1
    print("more")
else:#اول مشرط يكون غلط دي هتتنفذ
    print("less")#الاتنين هيشتغلو

more
more
more
more
more
more
more
more
more
more
less