In [4]:
a = "5"
b = int(a)
c = float(a)
d = 7
e = str(d)
f = complex(b,d)

In [5]:
f.real

5.0

In [6]:
f.imag

7.0

In [7]:
bin(50)

'0b110010'

In [8]:
bin(7)

'0b111'

In [9]:
a

'5'

In [10]:
b

5

In [11]:
c

5.0

In [12]:
d

7

In [13]:
e

'7'

In [14]:
name,country='mohamed','zag'
country

'zag'

In [15]:
x=12
bool(x)

True

In [16]:
bool('')

False

In [17]:
x,y=5,3
x+y

8

In [18]:
x/y

1.6666666666666667

In [19]:
x//y

1

In [20]:
x%y

2

In [21]:
x**y

125

In [22]:
x==y

False

In [23]:
x>=y

True

In [24]:
a=20
if 15< a <30 :
    print(a)

20

In [25]:
abs(-5) #|-5|

5

In [26]:
int(4.265)

4

In [27]:
x=complex(5,4)

print(x.real , x.imag , x)

5.0 4.0 (5+4j)

In [28]:
divmod(8,4)#(8/4,8%4)

(2, 0)

In [29]:
pow(5,2)

25

In [30]:
import math as m

In [31]:
m.factorial(5) #1*2*3*4*5

120

In [32]:
m.exp(5) #e^5

148.4131591025766

In [33]:
m.log(5) #ln(5) || log e(5)

1.6094379124341003

In [34]:
m.log(25,5) #log 5(25) 5^x=25

2.0

In [35]:
m.log10(100)

2.0

In [36]:
m.sqrt(25)

5.0

In [37]:
m.degrees(2*m.pi)

360.0

In [38]:
m.degrees(m.pi)

180.0

In [39]:
m.radians(180)

3.141592653589793

In [40]:
m.sin(m.radians(30)) #take a rad

0.49999999999999994

In [41]:
from numpy import *
m.sin(deg2rad(30)) #from deg to rad

0.49999999999999994

In [42]:
m.copysign(2,-5)

-2.0

In [43]:
m.ceil(2.154)

3

In [44]:
m.floor(2.154)

2

In [45]:
m.erf(8) #error function of a number.
#This method accepts a value between - inf and + inf, and returns a value between - 1 to + 1.

1.0

In [46]:
m.gamma(8)

5040.0

In [47]:
a = 'you promised not to be sad'

In [48]:
a[-2]

'a'

In [49]:
a[2]

'u'

In [50]:
a*3

'you promised not to be sadyou promised not to be sadyou promised not to be sad'

In [51]:
a[0:4] #0,1,2,3

'you '

In [52]:
a[::2] #0,2,4,....

'yupoie o ob a'

In [53]:
a[-1:4:-1] #-1,-2,-3,-4,...,6,5

'das eb ot ton desimor'

In [54]:
a[::-1]

'das eb ot ton desimorp uoy'

In [55]:
list(a)

['y',
 'o',
 'u',
 ' ',
 'p',
 'r',
 'o',
 'm',
 'i',
 's',
 'e',
 'd',
 ' ',
 'n',
 'o',
 't',
 ' ',
 't',
 'o',
 ' ',
 'b',
 'e',
 ' ',
 's',
 'a',
 'd']

In [56]:
sorted(list(a))

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'a',
 'b',
 'd',
 'd',
 'e',
 'e',
 'i',
 'm',
 'n',
 'o',
 'o',
 'o',
 'o',
 'p',
 'r',
 's',
 's',
 't',
 't',
 'u',
 'y']

In [57]:
set(a)

{' ', 'a', 'b', 'd', 'e', 'i', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'y'}

In [58]:
a.split()

['you', 'promised', 'not', 'to', 'be', 'sad']

In [59]:
a.split('a')

['you promised not to be s', 'd']

In [60]:
a="""sa
i'm relly sory
i love you
 <3 ^_^ """
a

"sa\ni'm relly sory\ni love you\n <3 ^_^ "

In [61]:
a.split()

['sa', "i'm", 'relly', 'sory', 'i', 'love', 'you', '<3', '^_^']

In [62]:
a.splitlines()

['sa', "i'm relly sory", 'i love you', ' <3 ^_^ ']

In [63]:
s='you are cute and beautiful girl and you have a lovely smile ^_^ and you know what i love you'
s

'you are cute and beautiful girl and you have a lovely smile ^_^ and you know what i love you'

In [64]:
s.partition('and') #هيقسم ل 3 جمل اول اند من الشمال والى قبلها والى بعدها

('you are cute ',
 'and',
 ' beautiful girl and you have a lovely smile ^_^ and you know what i love you')

In [65]:
s.rpartition('and')#هيقسم ل 3 جمل اول اند من اليمين والى قبلها والى بعدها

('you are cute and beautiful girl and you have a lovely smile ^_^ ',
 'and',
 ' you know what i love you')

In [66]:
m='i will do my best to be a good man, couse you deserve a good man'
m

'i will do my best to be a good man, couse you deserve a good man'

In [67]:
m.find('man') #retern pos of the first char frm the left if found , else return -1

31

In [68]:
m.rfind('man') #retern pos of the first char frm the right if found , else return -1

61

In [69]:
m.index('man')#retern pos of the first char frm the left if found , else error

31

In [70]:
m.find('sadness')

-1

In [71]:
m.replace('i','m') # all i with m

'm wmll do my best to be a good man, couse you deserve a good man'

In [72]:
m.replace('be a good man','make you love me')

'i will do my best to make you love me, couse you deserve a good man'

In [73]:
m.count('m')

3

In [74]:
m.capitalize() #اول حرف فى الجملة كابيال والباقى سمول

'I will do my best to be a good man, couse you deserve a good man'

In [75]:
m.title()#اول حرف فكل كلمة كابيتال

'I Will Do My Best To Be A Good Man, Couse You Deserve A Good Man'

In [76]:
m.upper() #حول كله كابيتال

'I WILL DO MY BEST TO BE A GOOD MAN, COUSE YOU DESERVE A GOOD MAN'

In [77]:
m.swapcase() #يعكس , اي حرف كابيتال يجعلها سمول و العكس

'I WILL DO MY BEST TO BE A GOOD MAN, COUSE YOU DESERVE A GOOD MAN'

In [78]:
m.center(100)#مسافة يمين وشمال مجموع كلام بالمسافة 100

'                  i will do my best to be a good man, couse you deserve a good man                  '

In [79]:
a.ljust(50)

"sa\ni'm relly sory\ni love you\n <3 ^_^              "

In [80]:
a.rjust(50,'*')

"*************sa\ni'm relly sory\ni love you\n <3 ^_^ "

In [81]:
'forgave me'.zfill(30)# اصفار عالشمال

'00000000000000000000forgave me'

In [82]:
m.isalpha() #هل كل الحروف المستخدمة الفابيتيك , لو فيها رموز زي )+@%( هيقول false غير كدة true

False

In [83]:
' sara '.strip() #حذف اي مسافات قبل او بعد الكلام

'sara'

In [84]:
' sara '.rstrip()

' sara'

In [85]:
' sara '.lstrip()

'sara '

In [88]:
x = "**abc**"
x.strip('*')

'abc'

In [89]:
a= r'C:\some\name' #r بتخلى /n زى ما هى
a

'C:\\some\\name'

In [90]:
print(a)

C:\some\name

In [91]:
a , b = 'aaaa' , 'bbbbb'
print(a,end='')
print(b)

aaaabbbbb

In [92]:
aaa = "sara"
a = "%s is a lovely girl" %aaa
a

'sara is a lovely girl'

In [93]:
bbb = 136
a = "sweet home %d" %bbb
a

'sweet home 136'

In [94]:
a = "sweet %s %d" % ( aaa , bbb)
a

'sweet sara 136'

In [95]:
a = "numbers %5d" %7
a

'numbers     7'

In [96]:
a="%s has %03d qoute types." %("Python", 2)
a

'Python has 002 qoute types.'

In [97]:
a.isdigit() #هل كل الاسترنج ارقام

False

In [98]:
a.isupper() #هل كل الاسترنج كابيتال؟

False

In [99]:
a.islower()

False

In [100]:
a.istitle() #هل اول حرف كابيتال

False

In [101]:
a.endswith('types.')#هل اخر كلمة فيه هى ما بين الاقواس

True

In [102]:
a.startswith("sweet")

False

In [103]:
a = ' a, '.join( ('one', 'two', 'three') )#هيضيف الى قبل الجوين ورا كل واحد
a

'one a, two a, three'

In [104]:
' '.join('hello')#ضافت المسافة الى ورا االجوين ورا كل حرف

'h e l l o'

In [128]:
' '.join([str(i) for i in random.randint(10, size=100)])#هيستخدم دالة راندوم من مكتبة نمباى يعمل كل مرة رقم عشوائى من صفر ل9

'2 2 9 4 3 0 7 5 9 6 2 4 9 9 0 4 1 6 4 8 2 9 6 6 2 4 0 5 6 4 9 3 1 7 8 8 5 6 2 9 8 0 6 9 9 2 8 3 3 9 1 9 3 2 5 0 1 5 9 5 5 8 9 1 5 6 2 1 3 0 7 7 1 9 7 6 1 1 2 4 7 2 4 3 6 7 6 0 2 2 0 4 1 6 4 6 2 2 2 9'

In [118]:
' '.join([str(i) for i in random.randint(10,size=20)])

'4 4 8 1 6 1 0 4 3 5 6 8 3 1 3 5 4 8 2 3'

In [122]:
"The value of pi is {}".format(pi) #هيستبدل بالاقواس قيمة باي

'The value of pi is 3.141592653589793'

In [123]:
'{0} and {1}'.format('red', 'blue')

'red and blue'

In [125]:
'{2} and {0} and {1}'.format('red', 'blue','green')

'green and red and blue'

In [126]:
"First: {first}. Last: {last}.".format(last='Z', first='A')

'First: A. Last: Z.'

In [159]:
"pi = {0:.3f}".format(pi)#هات 3 ارقام بعد العلامة العشرية

'pi = 3.142'

In [158]:
'{:s} {:d} years old'.format('Im',20)

'Im 20 years old'

In [146]:
'|' + '{:^51}'.format('Hello') + '|'#بيخلى الكلام فالنص

'|                       Hello                       |'

In [147]:
'|' + '{:51}'.format('Hello') + '|'#لو شلنا العلامة الى قبل ال50 هيرجع للشمال

'|Hello                                              |'

In [151]:
'{0:10} ==> {1:10d}'.format('name', 56322)

'name       ==>      56322'

In [225]:
import re
email = re.compile('\w+@\w+\.[a-z]{3}')
text = "To email Guido, try guido@python.org or guido@google.com "
print(email.findall(text))
print(re.findall('\w+@\w+\.[a-z]+',text))

['guido@python.org', 'guido@google.com']
['guido@python.org', 'guido@google.com']

In [243]:
import re
text = "To email Guido, try guido@python.org or guido@google.com "
email3=re.compile(r'([\w.]+)@(\w+)\.([a-z]{3})')
print(email3.findall(text))

[('guido', 'python', 'org'), ('guido', 'google', 'com')]

In [251]:
import re
text = "To email Guido, try guido@python.org or guido@google.com "
email4=re.compile(r'(?P<user>[\w.]+)@(?P<domain>\w+).(?P<suffix>[a-z]{3})')
match=email4.match('guido@python.org')
print(match.groupdict())

{'user': 'guido', 'domain': 'python', 'suffix': 'org'}

In [252]:
s = [1,2,3,6,9,8,7]
s

[1, 2, 3, 6, 9, 8, 7]

In [253]:
s = ["sam" , 5 , 3.2 , 5+2j ] #الليست ممكن تاخد عناصر مختلفة انواعها
s

['sam', 5, 3.2, (5+2j)]

In [254]:
s = [ 2 , 3, [ 4 , 5 ] ] #ليست جوا الليست
s

[2, 3, [4, 5]]

In [255]:
x = list("love sara")
x

['l', 'o', 'v', 'e', ' ', 's', 'a', 'r', 'a']

In [256]:
a,b,c,d,e,f,g,h,u = x #كل متغير خد حرف من حروف الليست (لازم يكونو نفس عدد الغناصر)
f

's'

In [257]:
x[5]

's'

In [258]:
y=x[1:6]
y

['o', 'v', 'e', ' ', 's']

In [259]:
y=x[::-1]
y

['a', 'r', 'a', 's', ' ', 'e', 'v', 'o', 'l']

In [260]:
x[0]='m'
x

['m', 'o', 'v', 'e', ' ', 's', 'a', 'r', 'a']

In [261]:
x = list("love sara")
x[0:5]=[] #بمسح العناصر
x

['s', 'a', 'r', 'a']

In [264]:
x = list("love sara")
x[:]=[]#بمسحها كلها
x

[]

In [265]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [266]:
x[1][2]

3

In [267]:
x = [a, n]
del x[0] #مسح عنصر 
x

[[1, 2, 3]]

In [268]:
y=[1,5,5,7]
y

[1, 5, 5, 7]

In [269]:
del y #مسح الليست كلها
y

NameError: name 'y' is not defined

In [270]:
y=['a','b','a','d','c']
y.remove('b') #امسح العنصر 
y

['a', 'a', 'd', 'c']

In [271]:
y=['a','b','a','d','c']
y.remove('a')# لو العنصر متكرر بيمسخ اول عنصر من اليسار
y

['b', 'a', 'd', 'c']

In [272]:
ss=y+x #بضيف الليستين لبعض
ss

['b', 'a', 'd', 'c', [1, 2, 3]]

In [273]:
y*5 #العناصر هتتكرر 5 مرات

['b',
 'a',
 'd',
 'c',
 'b',
 'a',
 'd',
 'c',
 'b',
 'a',
 'd',
 'c',
 'b',
 'a',
 'd',
 'c',
 'b',
 'a',
 'd',
 'c']

In [274]:
x = [0] * 10 #لستة فيها 10 ارقام صفر (اى حاجة بين الكوسين هتكرر على حسب الرقم المضروب وينفع فلوت او حرف)
x

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [275]:
x = [[0]*8] *10 #عشر لستات , كل واحدة 8 عناصر , وكانها مصفوفة 8 في 10
x

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [279]:
len(x) #عدد عناصر

10

In [280]:
y=[1,8,3,5]
sum(y) #مجموع قيمها لو ارقام لو قيمة مش رقم مش هينفع

17

In [281]:
max(y)
min(y)

1

In [282]:
sorted(y) #بيرتب من الصغير للكبير سواء ارقام او حروف

[1, 3, 5, 8]

In [283]:
y

[1, 8, 3, 5]

In [284]:
y.sort() #الليست نفسها اترتبت
y

[1, 3, 5, 8]

In [285]:
sorted(y,reverse = True)  #بيرتب من الكبير للصغير

[8, 5, 3, 1]

In [286]:
y=[('At', 85), ('Br', 35), ('Cl', 17), ('F', 9), ('I', 53)]
sorted(y, key=lambda e: e[1]) # ارتب بناء علي العنصر التاني مش الاول الى بين القوسين بتوع ال إي هو رقم العنصر(ببدا عد من 0)

[('F', 9), ('Cl', 17), ('Br', 35), ('I', 53), ('At', 85)]

In [287]:
7 in y #لو عايز اعرف هل فيه عنصر معين موجود في الليست ولا لا  وهترجعلي ب true او false

False

In [288]:
y=[5,7,8,9]
x=[1,4,3,7]
y.extend(x) #هنزود علي القايمة واى كل عناصر اكس
y

[5, 7, 8, 9, 1, 4, 3, 7]

In [289]:
y.insert(5,999999) #ضيف الرقم التانى فالانديكس اللى رقمه الاولانى
y

[5, 7, 8, 9, 1, 999999, 4, 3, 7]

In [290]:
y.count (7) #لو عايز اشوف العنصر الفلاني اتكرر كام مرة استخدم كاونت

2

In [291]:
y.index (7) #الاندكس بتاع العنصر

1

In [292]:
x=[1,4,3,7]
x.reverse() 
x

[7, 3, 4, 1]

In [299]:
y=[5,7,8,9]
y.pop() #يحذف اخر عنصر في الليستة 
y

[5, 7, 8]

In [294]:
y=[5,7,8,9] 
y.pop(2) #يحذف العنصر الثالث في الليستة
y

[5, 7, 9]

In [302]:
N = range(20) #لعمل ارقام من صفر لقبل الرقم المعطي بواحد
for i in N :
    print(N[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [301]:
M = list(range(20)) #لعمل ارقام من صفر لقبل الرقم المعطي بواحد واحولها لليست
M

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [303]:
N = list(range(2,20)) #من 2 الى 19
N

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [304]:
N = list(range(2,20,3))
N

[2, 5, 8, 11, 14, 17]

In [305]:
y = [ x**3 for x in range(12)]#[0,1,2,3,....,11] -> [0**3,1**3,2**3,.....,11**3]
y

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [306]:
y = list(map(lambda x : x**3 , range(12))) #شرح فالمثال القادم 
y

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [307]:
a=lambda x:x**3 #لمدا شبه الفنكشن ولكن على سطر واحد (بقوله اعمل متغير وحط فيه قيمة اكس حيث اكس تساوى اكس اس3 )
a(3)# بعتله الاكس ب 3 قام مكعبها ومخزنها ف الإا
#ans=a(3)         #-> لو عاوز اخزن القيمة ف متغير

27

In [308]:
#map -> ماب بتاخد فنكشن والعناصر  الى هتتطبق عليها الفنكشن 
numbers = (1, 2, 3, 4) 
result = map(lambda x: x**3, numbers) 
print(list(result)) #لازم احول الناتج ل ليست

[1, 8, 27, 64]

In [309]:
#من جميع ما سبق نقدر نقول
y = list(map(lambda x : x**3 , range(12)))  # الرنج من 0 ل 11 كل رقم هيتكعب وينضاق لليست
y

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [310]:
ss = [-5 + i*0.5 for i in range(10)] #بصى يا ست البنات يا قمر انتى
#الى قبل الفور دى معادلة هنعوض فيها بال i
#حيث ان الاى دى عبارة عن رفم هييجى من اللوب
#الرنج بتعمل ارقام من 0 ل9 زى ما اتعلمنا فوق
#ق الاى هتلوب على كل رقم من الارقام دى وتبعته للمعادلة تعوض فيها بيه
#الكوسين الى برا [ هياخدوا الارقام الناتجة يخزنوها ف ليست]
ss

[-5.0, -4.5, -4.0, -3.5, -3.0, -2.5, -2.0, -1.5, -1.0, -0.5]

In [311]:
f = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y] #نفس الى فوق بس 2 لوب هيشتغلوا
#اول عنصر ف اكس هيلوب على عناصر واى لو خقق الشرط هنبعت القيمتين
#غبارة عن اتنين لووب فبعض وجواهم اف ستاتمنت زى المثال الى جاى تحت
f

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [312]:
#ده شبه الى فوق بالفور لوب
#للمزيد من المعلومات لا تترددى بالاتصال على 01201188488 هدفنا هو اسعادك 
for i in (1,2,3):
    for j in (3,1,4):
        if i!= j:
            print(i , ',',j)

1 , 3
1 , 4
2 , 3
2 , 1
2 , 4
3 , 1
3 , 4

In [314]:
#L = [[0 for i in range(5)] for j in range(7)] # شيلى الهاش وجربى
L = [[i for i in range(5)] for j in range(7)] # برضو عبارة عن 2 لووب جوا بعض بيخلص بتاعت ال الااى الاول ويخش  فال جاى
#L = [[i+j for i in range(5)] for j in range(7)] # ال جاى لووب جواها لووب بتاعت ال اى 
#شرحها المثال القادم
L

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [315]:
#حاولت على قد ما اقدر
print('[',end=' ')
for j in range(7):
    print('[',end='')
    for i in range(5):
        print(i,end=' ,')
    print(']')
print(']')
#هو حلو كده رضا

[ [0 ,1 ,2 ,3 ,4 ,]
[0 ,1 ,2 ,3 ,4 ,]
[0 ,1 ,2 ,3 ,4 ,]
[0 ,1 ,2 ,3 ,4 ,]
[0 ,1 ,2 ,3 ,4 ,]
[0 ,1 ,2 ,3 ,4 ,]
[0 ,1 ,2 ,3 ,4 ,]
]

In [316]:
I = iter([2, 4, 6, 8, 10]) #لما باعمل iter قبل اي ليست , كل ما انده لها بكلمة next , هيجيب القيمة اللي بعدها
#I = iter(range(20))
print(next(I))
print(next(I))
print(next(I))
print(next(I))
print(next(I))

2
4
6
8
10

In [317]:
x = [1,2] #لو تم مساوة ليست بليست , فكل قيمها هتكون نفسها
y = x
y

[1, 2]

In [318]:
#لا دا مش مثال ول حاجة حبيت اقولك بجبك بس

In [319]:
x = [1,2] #لو تم تعديل قيم معينة في الليست )حتي لو كلها( فالليستة الجديدة واى هيتم التعديل فيها , حتي لو مقلتش تاني ان اكس تساوى واى
y = x
x[0] = 5
x[1] = 15
y

[5, 15]

In [320]:
#فالمثال الى فوق غيرنا قيمة قيمة فيمة ف اكس اتغيرت ف واى حتى لو مرجعناش نساويهم
# لكن لو غيرنا اكس على بعضها واى مش هتتغير زي المثال الجاى

In [321]:
x = [1,2]
y = x
x = [6,9]
y

[1, 2]

و من الأدوات القوية مع اليست او التابل , اداة enumerate , واللي بتخليك تقطع اي سترنج ,او تمسك
اي لست او تبل
, عشان تاخد العناصر فيها و ترقمها

In [331]:
my_list = ['apple', 'banana', 'grapes', 'pear']
for c, value in enumerate(my_list, 1): #انيوميريت بتاخد بتاخد قيمتين الاولى العداد والتانية القيمة
    print(c, value)

1 apple
2 banana
3 grapes
4 pear

In [332]:
#ولو انا اديته رقم معين , هيبدا بيه , بحيث اول عنصر هيكون رقمه 4
#enumerate(items, 4)

In [333]:
#داة تانية في نفس السياق هي ال زد اى بى و اللي بتجمع عناصر اتنين ليست , بحيث تربط بين واحدة من هناومن هناك
#zip

In [334]:
#يعني هنا هيتم الجمع بين العنصر الاول هنا , والاول هنا , بعدها التاني هنا , والتاني هنا و هكذا
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print (a, b)

a1 b1
a2 b2
a3 b3

In [1]:
from operator import itemgetter
student_tuples = [('john', 'A', 15),('jane', 'B', 12),('dave', 'B', 10),]
print(sorted(student_tuples, key=itemgetter(2))) #كدة هيرتب القيم , تبعا للعنصر الثالث , وهو السن

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [2]:
print(sorted(student_tuples, key=itemgetter(1,2))) 
# كدة هيرتبهم تبعا للعنصر التاني )الحروف( ولو تساوت قيمتين , هيرتبهم تبعا للعنصر التالت )السن(

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [3]:
from operator import methodcaller
messages = ['critical!!!', 'hurry!', 'bla bla', 'alabama']
print( sorted(messages, key=methodcaller( 'count', 'a')))
#معناها رتب الكلمات ديه تبعا لعدد حرف a فيها

['hurry!', 'critical!!!', 'bla bla', 'alabama']

In [4]:
a=[1,1,3,2,3,2,8,4]
b=(1,1,3,2,3,2,8,4) #tuple :- no change ,no add or delete
c={1,1,3,2,3,2,8,4} #set:- sort with no repeat                     فى الاسترنج مبيعملش اعادة ترتيب
e={'mo':12,'sa':10,'al':11} #dict :- key:value
print(a,'\n',b,'\n',c,'\n', e)

[1, 1, 3, 2, 3, 2, 8, 4]
 (1, 1, 3, 2, 3, 2, 8, 4)
 {1, 2, 3, 4, 8}
 {'mo': 12, 'sa': 10, 'al': 11}

In [6]:
student_tuples = [('john', 'A', 15),('jane', 'B', 12),('dave', 'B', 10)]
a = sorted(student_tuples, key=lambda student: student[2])
a

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [7]:
a ={n*2 for n in range(20)}
a

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38}

In [8]:
a={'a','ay','ma','sa'}
b={'b','d','a','sa','ma'}
a, b

({'a', 'ay', 'ma', 'sa'}, {'a', 'b', 'd', 'ma', 'sa'})

In [9]:
a or b #اقلهم عناصر

{'a', 'ay', 'ma', 'sa'}

In [10]:
a and b #اكثرهم عناصر

{'a', 'b', 'd', 'ma', 'sa'}

In [11]:
a | b #جميع العناصر هنا و هنا
#a.union(b)
#b.union(a)

{'a', 'ay', 'b', 'd', 'ma', 'sa'}

In [12]:
a & b #العناصر المشتركة فقط
a.intersection(b)

{'a', 'ma', 'sa'}

In [13]:
a ^ b #جميع العناصر عدا المشتركة
a.symmetric_difference(b)
b.symmetric_difference(a)

{'ay', 'b', 'd'}

In [14]:
a - b #الموجود فالاولى ومش فالتانية
a.difference(b)

{'ay'}

In [15]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}  
allkeys

{'egypt': '0020', 'america': '001', 'ksa': '00966'}

In [16]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
allkeys['egypt'] = '0030' #بيغير القيمة
allkeys

{'egypt': '0030', 'america': '001', 'ksa': '00966'}

In [17]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
allkeys['usa'] = '0099' #لو الكى مش موجود هيضيقه
allkeys

{'egypt': '0020', 'america': '001', 'ksa': '00966', 'usa': '0099'}

In [19]:
allkeys = {'egypt':'0020' , 'america':'001' , 15:'966'}
allkeys[15] = 30
#allkeys['egypt']
allkeys

{'egypt': '0020', 'america': '001', 15: 30}

In [20]:
{n:n**2 for n in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [22]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
'egypt' in allkeys

True

In [23]:
'0020' in allkeys

False

In [24]:
'0020' in allkeys.values()

True

In [25]:
allkeys.get('egypt')

'0020'

In [26]:
x= allkeys.get('ala')
print(x)

None

In [27]:
allkeys.get('egypt','0300') #لو لقيت مصر هات قيمتها لو ملقتش اطبع التانى

'0020'

In [28]:
allkeys.get('France','044')

'044'

In [29]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
del(allkeys['egypt']) #امسح مصر
allkeys

{'america': '001', 'ksa': '00966'}

In [33]:
# allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
allkeys.clear() #فضيلى الدكشنرى لكن متمسحهوش
allkeys

{}

In [34]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
del(allkeys) #امسح خالص ميبقاش موجود
#allkeys # هيطلع ايرور عشان مش موجود

In [35]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
len(allkeys) #عدد عناصر الدكشنرى(الكى والفاليو عنصر واحد)

3

In [36]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
dic =allkeys # بساويهم لو قيمة اتغيرت فالقديم تتغير فالجديد والعكس
dic['egypt']='new'
allkeys

{'egypt': 'new', 'america': '001', 'ksa': '00966'}

In [37]:
allkeys = {'egypt':'0020' , 'america':'001' , 'ksa':'00966'}
dic=allkeys.copy() #باخد نسخة عشان لو واحد اتغير التانى ميتأثرش
allkeys['egypt']='new'
dic

{'egypt': '0020', 'america': '001', 'ksa': '00966'}

In [42]:
list1 = {"a","b","c","d"}
dic2 = dict.fromkeys(list1) #---> {'b': None, 'c': None, 'd': None, 'a': None}
dic2 = {k:x+1 for x,k in enumerate( dic2)  } #انبوميريت بترجع رقم العنصر والعنصر نفسه
dic2

{'b': 1, 'c': 2, 'd': 3, 'a': 4}

In [44]:
dic1={'a':5,'b':8,'c':10,'d':1,'e':30}
a=list(dic1.keys()) #لست تحتوى على الكي
b=list(dic1.values()) #لست تحتوى اللفاليو
d= set(dic1.items()) #مجموعه بالكى والفاليو
t=tuple(dic1.items()) # تابل .......
#a
#b
#d
t

(('a', 5), ('b', 8), ('c', 10), ('d', 1), ('e', 30))

In [45]:
allkeys={'names':('a','b','c'),'address':('x','y','z')} #قاموس لكل مفتاح اكتر من قيمة
allkeys
allkeys['names'][1]

'b'

In [51]:
students = ['dave', 'john', 'jane']
grades = {'john': 'F', 'jane':'A', 'dave': 'C'}
#sorted(students , key=grades.__getitem__) #هيرتب بناء على الفاليو
#sorted(grades , key=grades.__getitem__) #هيرتب بناء على الفاليو
sorted(grades ,key= lambda x: grades[x]) # بشكل اخر

['jane', 'dave', 'john']

In [52]:
##########if########
a,b=10,11
maxx=a if(a>b) else b
print(maxx)

11

In [53]:
for n in range(2,20,3) :
    print (n,end=' ')

2 5 8 11 14 17

In [54]:
f = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
f

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [55]:
Y = 'supercalifragilisticexpialidocious'
for n in range(len(Y)) :
    print (Y[n],end=' ')

s u p e r c a l i f r a g i l i s t i c e x p i a l i d o c i o u s

In [56]:
S = ' '
Y = 'supercalifragilisticexpialidocious'
for n in range(len(Y)) :
    S = S + Y[(len(Y) - n -1)] #هيخزن الجملة بالغكس
S

' suoicodilaipxecitsiligarfilacrepus'

In [57]:
t = 'supercalifragilisticexpialidocious'
for v in t :
    if v == 'x' :
        continue #متكملش وارجع للوب من تانى
    print(v, end=' ')

s u p e r c a l i f r a g i l i s t i c e p i a l i d o c i o u s

In [58]:
for x in range(20) :
    if x == 0 :
        print("divided over is " + str(x))
        continue
    print("not divided over is " + str(x))

divided over is 0
not divided over is 1
not divided over is 2
not divided over is 3
not divided over is 4
not divided over is 5
not divided over is 6
not divided over is 7
not divided over is 8
not divided over is 9
not divided over is 10
not divided over is 11
not divided over is 12
not divided over is 13
not divided over is 14
not divided over is 15
not divided over is 16
not divided over is 17
not divided over is 18
not divided over is 19

In [59]:
YY = "how are you doing"
for g in YY :
    print (g,end=' ')

h o w   a r e   y o u   d o i n g

In [60]:
students = ["ahmed","ramy","heba"]
for a in students :
    print(a)

ahmed
ramy
heba

In [61]:
grades = {"ahmed":35 ,"mona":40 ,"mena":37 }
for a in grades : #هتطبع الكى بس
    print(a)

ahmed
mona
mena

In [62]:
grades = {"ahmed":35 ,"mona":40 ,"mena":37 }
for a in grades.items() : #هتطبع الكى والفاليو
    print(a)

('ahmed', 35)
('mona', 40)
('mena', 37)

In [63]:
grades = {"ahmed":35 ,"mona":40 ,"mena":37 }
for a,b in grades.items() : #هيغتبر الاى هى الكي و بى هى الفاليو
    print(a ,end =' : ')
    print(b)

ahmed : 35
mona : 40
mena : 37

In [64]:
grades = {"ahmed":35 ,"mona":40 ,"mena":37 }
for a in grades.keys() :
    print(a)

ahmed
mona
mena

In [65]:
grades = {"ahmed":35 ,"mona":40 ,"mena":37 }
for a in grades.values() :
    print(a)

35
40
37

In [66]:
students = ["ahmed","ramy","ramy","mena"]
for i,a in enumerate(students) : #هترجع رقم العنصر تحطه ف اى والعنصر تحطه ف ايه
    print(str(i) + ' '+a)

0 ahmed
1 ramy
2 ramy
3 mena

In [67]:
students = ["ahmed","ramy","ramy","mena"]
grades = [25,33,66,95]
for i,a in zip(students,grades) : #زيب بتاخد 2 ليست نفس الحجم وتربط كل عنصر بالمفابل ليه وترجعهم مع بعض
    print("student : " +i.ljust(7) + " ,got : " + str(a) +' '+ "degree" ) #مراجعه ljust() بتعمل مسافة عاليمين

student : ahmed   ,got : 25 degree
student : ramy    ,got : 33 degree
student : ramy    ,got : 66 degree
student : mena    ,got : 95 degree

In [68]:
a = [i**2 for i in range(20) if i%3 ==0 and i %2 ==0 ]
print(a)

[0, 36, 144, 324]

In [69]:
a = [(i,j) for i in range(3) for j in range(4)] #الاى لوب كبيرة جواها لوب بتاعت جى
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [70]:
a = [(i*2,j+3) for i in range(3) for j in range(4)]
print(a)

[(0, 3), (0, 4), (0, 5), (0, 6), (2, 3), (2, 4), (2, 5), (2, 6), (4, 3), (4, 4), (4, 5), (4, 6)]

In [71]:
for x in range(10) :
    print(x , end=' ')
else :  # بتتنفذ مرة واحده فقط عند انتهاء اللوب
    print("Done")

0 1 2 3 4 5 6 7 8 9 Done

In [72]:
print(sum([k for k in range(20)])) #مجموع من 0 الى 19
print(sum([1/k for k in range(1,11)])) #مجموع مقلوب من 1 ل10
print(sum([3*(k**2) for k in range(150)])) #مجموع 3 فى مربع من 1 الى 149

190
2.9289682539682538
3341325

In [73]:
a = [3*x for x in [y**2 for y in range(10)]] #هياخد الواى تربيع الناتجه من اللوب يحطها ف اكس وياخد اكس يضربها ف 3
a

[0, 3, 12, 27, 48, 75, 108, 147, 192, 243]